# Build / deps
node_modules/
dist/
.astro/
.vercel/

# Logs
npm-debug.log*
*.log

# Ambiente
.env
.env.*
!.env.example

# SO / editores
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Locks temporários de escritório (LibreOffice/Word)
.~lock.*#
public/videos/**/*.mp4
